body, html{
  background-color: #282c34;
  color: white
}

.App {
  text-align: center;
}

.labels{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.success_label{
  width: 20px;
  height: 10px;
  background-color: #0d0;
  margin-right: 10px;
}

.failed_label{
  width: 20px;
  height: 10px;
  background-color: #d00;
  margin-left: 20px;
  margin-right: 10px;
}

.upcoming_label{
  width: 20px;
  height: 10px;
  background-color: orangered;
  margin-left: 20px;
  margin-right: 10px;
}